<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app uses a flutter package that can provide access to media library, but the app don't use this feature.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app uses a flutter package that can provide access to calendars, but the app don't use this feature.</string>
	<key>NSContactsUsageDescription</key>
	<string>This feature let us know if any of your contacts is registered in our app in order to advise you a possible friend. We do not save your contacts in our database.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app uses a flutter package that can provide access to location, but the app don't use this feature.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses a flutter package that can provide access to location, but the app don't use this feature.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app uses a flutter package that can provide access to motion, but the app don't use this feature.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This feature allows you to upload a photo of your device to make it your profile picture.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses a flutter package that can provide access to speech, but the app don't use this feature.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
